In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('House.csv')
df

     Bedrooms  Bathrooms  Status  Location  Price  Facing  Type  Size
0           0          0       0        34     68       1     3  1944
1           2          2       1        17     45       1     0  1266
2           3          3       1        56     55       8     0  1587
3           0          0       2        31     15       0     3  1560
4           2          2       1        56     48       1     0  1450
..        ...        ...     ...       ...    ...     ...   ...   ...
955         0          0       2         4     85       8     3  2040
956         0          0       2         4     85       8     3  2040
957         0          0       2         4     85       8     3  2040
958         0          0       2         4     85       8     3  2040
959         0          0       0        80     19       0     3  2394

[960 rows x 8 columns]

In [3]:
df.head()

   Bedrooms  Bathrooms  Status  Location  Price  Facing  Type  Size
0         0          0       0        34     68       1     3  1944
1         2          2       1        17     45       1     0  1266
2         3          3       1        56     55       8     0  1587
3         0          0       2        31     15       0     3  1560
4         2          2       1        56     48       1     0  1450

In [4]:
df.tail()

     Bedrooms  Bathrooms  Status  Location  Price  Facing  Type  Size
955         0          0       2         4     85       8     3  2040
956         0          0       2         4     85       8     3  2040
957         0          0       2         4     85       8     3  2040
958         0          0       2         4     85       8     3  2040
959         0          0       0        80     19       0     3  2394

In [5]:
len(df)

960

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [7]:
a,b = np.arange(10).reshape(5,2),range(5)
a,b

(array([[0, 1],
        [2, 3],
        [4, 5],
        [6, 7],
        [8, 9]]),
 range(0, 5))

In [8]:
p,q,r,s = train_test_split(a,b)
p,q,r,s

(array([[6, 7],
        [2, 3],
        [8, 9]]),
 array([[4, 5],
        [0, 1]]),
 [3, 1, 4],
 [2, 0])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Bedrooms   960 non-null    int64
 1   Bathrooms  960 non-null    int64
 2   Status     960 non-null    int64
 3   Location   960 non-null    int64
 4   Price      960 non-null    int64
 5   Facing     960 non-null    int64
 6   Type       960 non-null    int64
 7   Size       960 non-null    int64
dtypes: int64(8)
memory usage: 60.1 KB

In [10]:
x = df.drop(columns=['Price'])
y = df['Price']

In [11]:
x.head()

   Bedrooms  Bathrooms  Status  Location  Facing  Type  Size
0         0          0       0        34       1     3  1944
1         2          2       1        17       1     0  1266
2         3          3       1        56       8     0  1587
3         0          0       2        31       0     3  1560
4         2          2       1        56       1     0  1450

In [12]:
y.head()

0    68
1    45
2    55
3    15
4    48
Name: Price, dtype: int64

In [13]:
x_train ,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [14]:
len(x_train),len(x_test)

(672, 288)

In [15]:
lin_reg = LinearRegression()

In [16]:
lin_reg.fit(x_train,y_train)

LinearRegression()

In [17]:
y_preds = lin_reg.predict(x_test)

In [18]:
y_test

836    71
477    22
350    46
893    35
923    38
       ..
501    56
796    29
634    37
405    18
741    25
Name: Price, Length: 288, dtype: int64

In [19]:
y_preds = lin_reg.predict(x_test)
y_preds

array([ 54.69996983,  28.08746257,  67.66160962,  47.24302235,
        47.36807514,  13.48458292,  28.08530399,  67.66160962,
        50.94386641,  25.97186358,  35.38425274,  47.37925222,
        16.71593079,  40.83750911,  29.6746125 ,  31.57778022,
        52.91384582,  28.65220981,  22.68018617,  68.88907429,
        90.65281912,  85.22359504,  38.14238033, 104.07887331,
        81.58589033,  26.70464787,  19.88499362,  29.36224391,
        35.97124914,  44.45958112,   5.23906504,  27.59796762,
        29.84106671,  57.40224485,  27.11243591,  51.79899914,
        27.01262138,  40.05810277,  47.98253396,  63.44785411,
        24.60583546,  35.27251858,  24.58088183,  21.97015207,
        20.06537538,   1.21833513,  11.98941893,  74.65984591,
        36.67213842,  13.30465172,  91.89411128,  21.18644249,
        31.458879  ,  31.32316904,  26.88612886,  25.5296998 ,
        63.53925666,  24.59616348,  52.29520299,  53.44000003,
        24.50431531,  13.27852094,  28.44279339,  65.19450236,
        15.8943319 ,  42.07382387,  25.66976836,  32.34766716,
        33.41303207,  55.44427561,   1.6974216 ,  21.81617468,
        29.40961994,  67.33333299,  21.0035212 ,  25.96226452,
        50.41581178,  13.65817786,  18.8925859 ,  50.92088795,
        42.70697331,  31.67190475,  42.45032203,  22.87023991,
        27.36053784,  36.19710191,  33.86863185,  26.58097892,
        29.8276792 ,  27.20656045,  28.42590275,  25.04969986,
        42.29634464,  40.89807132,  53.11688239,  26.28269612,
        30.61095366,  43.99056163,  20.98643488,  81.44675363,
        27.71586866,  66.40530693,  56.00520207,  61.61985601,
        28.14731542,  26.91549631,  14.3961474 ,  29.84106671,
        15.61531274,  43.32070941,  67.66160962,  48.99364468,
        30.59406303,  66.17183686,  67.66160962,  37.36906817,
        27.21377911,  28.60924759,  48.91229284,  36.19710191,
        53.93008288,  24.50431531,  26.63369103,  69.37710535,
        40.83750911,  23.94808164,   5.51285711,  22.87023991,
        67.94508083,  45.43877443,  28.75074817,  37.58289841,
        51.34908607,  25.22174502,  30.59406303,  30.77749653,
        53.11666442,  16.48174926,  26.85906866,   4.38763333,
        74.632878  ,  47.99350806,  19.38878976,  67.33333299,
        55.49126209,  26.5906509 ,  60.45945587,  27.37742848,
        51.72166283,  42.45032203,  31.35147316,  50.94984476,
        50.92048707,  26.08477506,  25.37572241,  31.57778022,
        20.23343856,  26.14560936,  56.00520207,  59.98747056,
        15.00509318,  36.92402664,  23.37401634,  23.5030401 ,
        30.59406303,  43.83611854,  29.5162213 ,  29.94270464,
        98.98539945,  65.82701581,  67.83269561,  42.61151808,
        33.36565604,  37.63145158,  62.53753304,  16.06114003,
        33.36565604,  14.34343529,  30.88048938,  13.30465172,
        12.68756502,  32.15072756,  34.61436579,  47.57318757,
        25.81958681,  20.93535047,  35.10768822,  39.26795917,
        36.89746403,  31.61112964,  55.66778543,  19.9865325 ,
        63.10887727,  56.85565328,  39.44535008,  28.63973299,
        30.02931579,  53.11666442,  69.22250926,  44.28557389,
        16.80544582,  48.35419724,  28.43837957,  44.20654413,
        64.48451208,  67.83269561,  23.83594851,  24.18061874,
        65.61420093,  28.09460331,  67.66160962,  26.73215147,
        11.49064512,  15.76711281,  55.87952506,  68.25989799,
        26.08477506,  27.37742848,  25.82076395,  66.40530693,
        28.63539709,  30.66223376,  17.90017818,  67.66160962,
        13.30465172,  50.14209427,  53.6221281 ,  54.69996983,
        41.58631054,  48.61291961,  58.25521924,  51.98163139,
        60.45945587,  58.43229146,  25.57266202,  29.36224391,
        13.98139557,  28.43837957,  74.95843573,  46.29511785,
        65.54354459,  64.70862448,  29.92893651,  25.37572241,
        67.66160962,  36.15413969,  30.80789327,  18.82441517,
        23.83594851,  32.02469717,  40.53033285,  54.97031003,
        34.4603884 ,  57.83352237,  33.21167865,  17.90017818,
        39.49748829,  19.14068783,  20.25921541,  26.08477506,
        39.54164226,  19.14068783,  49.08824042,  57.02808969,
        31.67190475,  33.75904483,  18.39024533,  67.66160962,
        25.37572241,  55.05033721,  67.66160962,  70.95504215,
        12.07165546,  47.99350806,   4.13435603,  55.69237754,
        74.354473  ,  25.96226452,  29.84106671,  30.42760882,
        28.60924759,  51.76907202,  50.31038756,  47.99350806,
        23.83594851,  32.96357672,  26.6208344 ,  32.80959933])

In [20]:
from sklearn.metrics import r2_score,mean_squared_error

In [21]:
print("Linear Regression Metrics/Model Evaluation:")
print("R_Squared error:",r2_score(y_test,y_preds)) 

print('Mean Squared error:',mean_squared_error(y_test,y_preds))

Linear Regression Metrics/Model Evaluation:
R_Squared error: 0.5283378028443897
Mean Squared error: 276.44494751783685

In [ ]:
bedrooms = int(input('Enter no.of Bedrooms:'))
bathrooms =int( input('Enter no.of Bathrooms:'))
Status = int(input('Enter Status:'))
size = int(input('Enter SQFT:'))
location = int(input('Enter Location: '))
Facing = int(input('Enter Facing:'))
Type = int(input('Enter type:'))

Enter no.of Bedrooms: 556

In [ ]:
user_input = np.array([[bedrooms,bathrooms,Status,size,location,Facing,Type]])
user_input

In [ ]:
result = lin_reg.predict(user_input)[0]
result.round(2)

In [ ]:
import pickle
pickle.dump(lin_reg,open('lin_model.pkl','wb'))

In [ ]:
model = pickle.load(open('lin_model.pkl','rb'))

user_input = np.array([[bedrooms,bathrooms,Status,size,location,Facing,Type]])
#user_input
result = model.predict(user_input)[0]
result.round(2)

In [ ]:
!pip install Streamlit

In [ ]:
x.columns